@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
/*
font-family: 'Poppins', sans-serif;
*/


.barra-de-navegacion{
    background-color: #5F6F52;
    font-family: 'Poppins', sans-serif;
    padding: .625rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu ul li{
    display: inline;
    flex-wrap: wrap;
}
.menu ul li:hover{
    text-decoration: underline;

}
.titulo a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.barra-de-navegacion ul li{
    list-style: none;
    font-family:'Poppins', sans-serif;  
}
.barra-de-navegacion ul li a{
    color: black;
    text-decoration: none;
    margin: .625rem;
}

.principal{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Fondo-de-pagina.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: none;
    font-family: 'Poppins', sans-serif;
    height: 40rem;
    width: 100%;
    justify-content: center;
    align-items: end;
}


.boton{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: #292A2E;
    color: white;
    padding: 10px 10px;
    border: .25rem solid #5F6F52;
    border-radius: .25rem;
    height: 2.9375rem;
    width: 9.8125rem;
    
}

.eslogan{
    height: 40%;
    width: 30%;
    color: #5F6F52;
    text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
    letter-spacing: .125rem;
    padding-bottom: 3.125rem;
    
    
    
}

.pie-de-pagina{
    display: flex;
    height: 7.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: #5F6F52;
    font-family: 'Poppins', sans-serif;

}

.redes{
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem;
    gap: .625rem;

}
.registro{
    font-size: 80%;
    gap: 20px
    
}
.terminos{
    display: flex;
    flex-direction: row;
    height: 1rem;
    width: 100%;
    align-items: center;
    gap: .625rem;
}
.fondo{
    background-image:url(../assets/fondo-tienda.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 42rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.vendido{
    display: flex;
    width: 31.25rem;
    height: 3.125rem;
    padding-left: 7.5rem;
    padding-top: 1rem;
    
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    margin-top: 3rem;

}
.card-propio{
    background-color: #A9B388;
    width: 12.5rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0rem;
    box-shadow: .1875rem .1875rem .1875rem #00000056;
    border-radius: .25rem;
}
.card-img-propio img{
    width: 7rem;
    height: 9.375rem;
    border-radius: 10%;
}
h4{
    font-size: 100%;
}
h5{
    font-size: 100%;
}
.comprar{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    background-color: #292A2E;
    color: white;
    padding: 10px 10px;
    border: .25rem solid #5F6F52;
    border-radius: .25rem;
    height: 2.9375rem;
    width: 6.25rem;
}
.ver-mas{
    display: flex;
    justify-content: end;
    padding-right: 1.875rem;
}
.ver-mas-boton{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    background-color: #292A2E;
    color: white;
    padding: 10px 10px;
    border: .25rem solid #5F6F52;
    border-radius: .25rem;
    height: 2.9375rem;
    width: 6.25rem; 
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    gap: .625rem;
    justify-items: center;
    
    
}
.h3-propio-1{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    order: 2;
    text-align: center;
    
    
}
.h3-propio-2{
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    order: 2;
    text-align: center;
    
}
.nosotros img{
    grid-column: 5 /8;
    grid-row: 2 / 5;
    height: 90%;
    width: 70%;
    order: 2;
    align-self: center;
}

.fondo-nosotros{
    background-color: #ffffffbe;
    grid-column: 2 /8;
    grid-row: 2 / 5;
    order: 1;
    height: 100%;
    width: 100%;
}
.ubicacion{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    width: 100%;
    gap: .625rem;
    font-family: 'Poppins', sans-serif;
}
.texto-ubicacion{
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    order: 2;
}
.mapa{
    grid-column: 4 / 8;
    grid-row: 3 / 7;
    height: 100%;
    width: 100%;
    order: 2;
    align-self: center;
}
.fondo-ubicacion{
    grid-column: 3 / 9;
    grid-row: 2 / 7;
    height: 100%;
    width: 100%;
    background-color: #ffffffbe;
    order: 1;
    align-self: center;
}

.mi-cuenta{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    width: 100%;
    gap: .625rem;
    font-family: 'Poppins', sans-serif;

}
.texto-cuenta{
    grid-column: 4 / 8;
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;
    order: 2;

}
.formulario{
    grid-column: 4 / 8;
    grid-row: 4 / 9;
    height: 100%;
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

}
    
.fondo-cuenta{
    grid-column: 3 / 9;
    grid-row: 2 / 10;
    height: 100%;
    width: 100%;
    background-color: #ffffffbe;
    order: 1;
    align-self: center;
}
.boton-cuenta{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    background-color: #292A2E;
    color: white;
    border: .25rem solid #5F6F52;
    border-radius: .25rem;
    height: 2.8125rem;
    width: 12.5rem;
    margin-top: 1.875rem;
    
}
@media(max-width:769px){
    .principal{
        height: 50rem;
        width: 100%;
    }
    .pie-de-pagina{
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
.redes{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    grid: flex;
    justify-content: start;
}
.novedades{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}
.registro{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}
}
@media(max-width:321px){
    .barra-de-navegacion{
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        justify-content: start;

    }
    .menu ul{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 0;
    }
    .menu ul li{
        width: 3.125rem;
    }
    .principal{
        display: flex;
        background-image: url(../assets/Fondo-de-pagina.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: 'Poppins', sans-serif;
        height: 25rem;
        width: 100%;
        justify-content: center;
        align-items: end;
    }
    .menu{
        font-size: .75rem;
        height: 4.375rem;
        width: 9.375rem;
    }
    .eslogan{
        height: 30%;
        display: flex;
        font-size: 50%;
        padding-bottom: 0;
    
    }
    .eslogan h1{
        font-size: 1.125rem;
    }
    .boton{
        height: 50%;
        width: 100%;
        font-size: .75rem;    
    
    }
    .pie-de-pagina{
        display: flex;
        flex-direction: column;
    }
    .novedades{
        padding: .3125rem;

    }
}